In [2]:
import pandas as pd
import numpy as np
import matplotlib as plt
import seaborn as sns

In [4]:
df=pd.read_csv('train 2.csv')

In [14]:
df.shape

(404290, 6)

In [16]:
df.head()

,id,qid1,qid2,question1,question2,is_duplicate
0,0,1,2,What is the step by step guide to invest in sh...,What is the step by step guide to invest in sh...,0
1,1,3,4,What is the story of Kohinoor (Koh-i-Noor) Dia...,What would happen if the Indian government sto...,0
2,2,5,6,How can I increase the speed of my internet co...,How can Internet speed be increased by hacking...,0
3,3,7,8,Why am I mentally very lonely? How can I solve...,Find the remainder when [math]23^{24}[/math] i...,0
4,4,9,10,"Which one dissolve in water quikly sugar, salt...",Which fish would survive in salt water?,0

(404290, 6)

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 404290 entries, 0 to 404289
Data columns (total 6 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   id            404290 non-null  int64
 1   qid1          404290 non-null  int64
 2   qid2          404290 non-null  int64
 3   question1     404289 non-null  object
 4   question2     404288 non-null  object
 5   is_duplicate  404290 non-null  int64
dtypes: int64(4), object(2)
memory usage: 18.5+ MB

In [18]:
new_df=df.sample(30000)

In [20]:
new_df.isnull().sum()

id              0
qid1            0
qid2            0
question1       0
question2       0
is_duplicate    0
dtype: int64

In [24]:
new_df.duplicated().sum()

0

In [26]:
ques_df=new_df[['question1','question2']]
ques_df.head()

,question1,question2
304451,What is induction motor and what is synchronou...,What is the induction motors?
177324,What If India Scraps Indus Water Treaty Unilat...,Why India is not breaking the Indus Waters Tre...
256023,I want to get into Google summer code 2017.How...,How can I go to Google Summer of Code?
132327,Do you think that Hillary Clinton will drop ou...,Will Hillary Clinton drop out of the race due ...
152134,Where and how do silverfish hide?,What are silverfish and where do they hide?

In [28]:
from sklearn.feature_extraction.text import CountVectorizer
questions=list(ques_df['question1']) +list(ques_df['question2'])
cv=CountVectorizer(max_features=3500)
q1_arr,q2_arr=np.vsplit(cv.fit_transform(questions).toarray(),2)

In [30]:
temp_df1=pd.DataFrame(q1_arr,index=ques_df.index)
temp_df2=pd.DataFrame(q2_arr,index=ques_df.index)
temp_df=pd.concat([temp_df1,temp_df2],axis=1)
temp_df.shape

(30000, 7000)

In [32]:
temp_df

,0,1,2,3,4,5,6,7,8,9,...,3490,3491,3492,3493,3494,3495,3496,3497,3498,3499
304451,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
177324,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
256023,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
132327,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
152134,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19287,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
207573,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
68939,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9168,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
122876,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0

In [48]:
temp_df['is_duplicate']=new_df['is_duplicate']
temp_df.head()

,0,1,2,3,4,5,6,7,8,9,...,3491,3492,3493,3494,3495,3496,3497,3498,3499,is_duplicate
304451,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
177324,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
256023,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
132327,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
152134,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [52]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(temp_df.iloc[:,0:-1].values,temp_df.iloc[:,-1].values,test_size=0.2,random_state=2)

In [59]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score
rf=RandomForestClassifier()
rf.fit(x_train,y_train)
y_pred=rf.predict(x_test)
accuracy_score(y_test,y_pred)

0.7401666666666666

In [61]:
!pip install xgboost

Collecting xgboost
  Downloading xgboost-3.0.2-py3-none-macosx_12_0_arm64.whl.metadata (2.1 kB)
Requirement already satisfied: numpy in /opt/anaconda3/lib/python3.12/site-packages (from xgboost) (1.26.4)
Requirement already satisfied: scipy in /opt/anaconda3/lib/python3.12/site-packages (from xgboost) (1.13.1)
Downloading xgboost-3.0.2-py3-none-macosx_12_0_arm64.whl (2.0 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 2.0/2.0 MB 2.6 MB/s eta 0:00:00a 0:00:01
Installing collected packages: xgboost
Successfully installed xgboost-3.0.2

In [64]:
from xgboost import XGBClassifier
xgb=XGBClassifier()
xgb.fit(x_train,y_train)
y_pred=xgb.predict(x_test)
accuracy_score(y_test,y_pred)

0.7266666666666667